{% extends 'court_booking/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Register</h2>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container">

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">Login</a>.{% endblocktrans %}</p>

<!-- <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form> -->

<form method="post" novalidate>
  {% csrf_token %}
  {% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {% for error in form.non_field_errors %}
    {{ error }}
  {% endfor %}
</div>
{% endif %}

{% for field in form.visible_fields %}
<div class="form-group">
  <!-- exclude remember me field with if conditional -->
  {% if field != form.email %}
  {{ field.label_tag }}

  {% if form.is_bound %}
    {% if field.errors %}
      {% render_field field class="form-control is-invalid" placeholder='' %}
      {% for error in field.errors %}
        <div class="invalid-feedback">
          {{ error }}
        </div>
      {% endfor %}
    {% else %}
      {% render_field field class="form-control" placeholder='' %}
    {% endif %}
  {% else %}
    {% render_field field class="form-control" placeholder='' %}
  {% endif %}

  {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
  {% endif %}
  {% endif %}
</div>
{% endfor %}
<div class="form-group">
<button type="submit" class="btn btn-success">
  <span class="glyphicon glyphicon-ok"></span> Register
</button>
<a href="" class="btn btn-default">Cancel</a>
</div>
</form>
</div>
{% endblock %}