{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Court Booking</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="keywords" content="court, court booking, sports" />
    <meta name="description" content="Book sport court" />
    <meta name="author" content="Dragan Manojlovic" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- CSS Libraries -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />


    <link rel="stylesheet" href="{% static 'css/easycal.css' %}" />

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      body {
        width: 960px;
        margin: 0 auto;
        font-size: 12px;
        font-family: Arial;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    {% block content%} {% endblock %}

    <!-- JavaScript Libraries -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>

    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="{% static 'js/dataset.js' %}"></script>
    {{ book_date |json_script:"reservation" }}
    {{ courts |json_script:"num_courts" }}
    <!-- safe way to include django variables to javascript -->
    <script type="text/javascript">var num_of_courts = JSON.parse(document.getElementById('num_courts').textContent);</script>
    <script type="text/javascript">var book_date = JSON.parse(document.getElementById('reservation').textContent);</script>
    <script src="{% static 'js/easycal.js' %}"></script>

    <script>

    $(document).ready(function() {

      $('#calendar').datepicker({
       inline: true,
       firstDay: 1,
       showOtherMonths: true,
       dayNamesMin: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
       dateFormat: "dd-mm-yy",
       onSelect: function (date) {
         var date = $(this).datepicker('getDate'),
            day  = date.getDate(),
            month = date.getMonth() + 1,
            year =  date.getFullYear();
       window.location="http://127.0.0.1:8000/book/home/" + month.toString() + "/" + day.toString() + "/"
      //date.toString() is now in dd-mm-yyyy format, change it to meet your requirements
        }
      });


      $(".mycal").easycal({
        timeFormat: "HH:mm",
        columnDateFormat: "dddd, DD MMM",
        minTime: "09:00",
        maxTime: "19:00",
        slotDuration: 30,

        dayClick: function (el, startTime) {
          //to get the closest td  of clicked element
          var md = {{md}}
          var court_name = $(el).closest('td').attr("data-courts");
          console.log(court_name)
          $.ajax({
            url: "/book/partial_res/",
            type: "get",
            dataType: "json",
            beforeSend: function () {
              
              if ($(el).next().css("background-color") == "rgb(255, 0, 0)") {
                alert("1 hour is a minimum reservation")
              }
              else{
              $("#modal-book .modal-content").html("");
              $("#modal-book").modal("show");
              }
            },
            success: function (data) {
              $("#modal-book .modal-content").html(data.html_form);

              $("#id_start_time").val(startTime);
              document.getElementById('id_start_time').readOnly = true

              var fillEndTime = parseInt(startTime, 10) + 1 + ":" + startTime[3] + startTime[4] + ":00";
              $("#id_end_time").val(fillEndTime);
              //to remove dropdown options less than some value
              $('#id_end_time option').filter(function() {
                  return $(this).val() < fillEndTime;
              }).remove();

              //get today date
              var d = new Date();
              //var datestring = ("0" + d.getDate()).slice(-2) + "." + ("0" + (d.getMonth() + 1)).slice(-2) + "." + d.getFullYear();
              var datestring = ("0" + md[1]).slice(-2) + "." + ("0" + (md[0])).slice(-2) + "." + d.getFullYear();
              $("#id_booking_date").val(datestring);

              //to set selected field in dropdown
              $("#id_court option:contains("+court_name+")").prop('selected', true)
              //$("#id_court").prop('disabled', true)
              //$('#id_court option:not(:selected)').remove()
              //to disable click on dropdown
              $('#id_court').on('mousedown', function(e) {
                  e.preventDefault();
                  this.blur();
                  window.focus();
                });
                $('#id_court').css({'background-color': '#e9ecef', 'appearance':'none'})

            },
          });

          // $("#modal-timeslot").modal('show');

          // $('.ec-slot').click(function () {
          //   var name = $(this).closest('td').attr("data-date");
          //   console.log(name)
          //     //console.log($(this).data('time'));
          //     //Check to see if background color is set or if it's set to white.
          //     if(this.style.background == "" || this.style.background =="white") {
          //         $(this).css('background', 'red');
          //     }
          //     else {
          //         $(this).css('background', 'white');
          //     }
          // });

          console.log("Slot selected: " + startTime);
        },
        eventClick: function (eventId) {
          console.log("Event was clicked with id: " + eventId);
        },

        overlapColor: "#FF0",
        overlapTextColor: "#000",
        overlapTitle: "Multiple",
      });
      });
    </script>

    <script type="text/javascript">
$(document).ready(function() {

      //iteration of array of dictionaries with jquery, setting the color to booked time
      $.each(book_date,function(index,value){
            $("td[data-courts='"+value.court__court_name+"']").find("div").each(function() {
                  if ( ($(this).attr('data-time') >= value.start_time.slice(0, -3)) && ($(this).attr('data-time') < value.end_time.slice(0, -3)) ) {
                    $(this).css({"background":"red", "pointer-events":"none"});
                  }
                });

      });

      $(function () {
        /* Functions */

        var loadForm = function () {
          var btn = $(this);
          $.ajax({
            url: btn.attr("data-url"),
            type: "get",
            dataType: "json",
            beforeSend: function () {
              $("#modal-book .modal-content").html("");
              $("#modal-book").modal("show");
            },
            success: function (data) {
              $("#modal-book .modal-content").html(data.html_form);
            },
          });
        };

        var saveForm = function () {
          var form = $(this);
          $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            dataType: "json",
            success: function (data) {
              if (data.form_is_valid) {
                $("#izdano-table tbody").html(data.html_izdano_list);
                $("#modal-book").modal("hide");
                //console.log(data.html_izdano_list)

              } else {
                $("#modal-book .modal-content").html(data.html_form);

                var start_time = $("#id_start_time").val();
                var end_time = $("#id_end_time option:selected").text();
                var court_name = $("#id_court option:selected").text();

                //for setting the occupied court by clicking on table column
                //pointer-events is used to make element unclickable
                $("td[data-courts='"+court_name+"']").find("div").each(function() {
                  if ( ($(this).attr('data-time') >= start_time) && ($(this).attr('data-time') < end_time) ) {
                    $(this).css({"background":"red", "pointer-events":"none"});
                  }
                });

                $("#modal-book").modal("hide");
              }
            },
          });
          return false;
        };

        /* Binding */

        // Create book
        $(".js-create-book").click(loadForm);
        $("#modal-book").on("submit", ".js-izdano-create-form", saveForm);

        // Update book
        $("#izdano-table").on("click", ".js-update-izdano", loadForm);
        $("#modal-book").on("submit", ".js-izdano-update-form", saveForm);

        // Delete book
        $("#izdano-table").on("click", ".js-delete-izdano", loadForm);
        $("#modal-book").on("submit", ".js-izdano-delete-form", saveForm);
      });
    });
    </script>

    {% block javascript %}{% endblock %}
  </body>
</html>
