{% extends 'court_booking/base.html' %} 
{% load static %}


{% block content %}

<div class="dis-flex">
<h2 class="head-login">Tennis Center</h2>

<div class="dropdown">
<p href="#" class="image-profile"><img class="image-size" src="{% static 'images/profile.png' %}" alt="" />
  <span>{{request.user}}</span>
  <i class="fa fa-angle-down"></i>
  <div class="dropdown-content">
    <a href="{% url 'court_booking:my_reservations' %}">My reservations</a>
    <a href="{% url 'account_logout' %}">Logout</a>
  </div>
</p>
</div>

</div>

<div id="calendar"></div>


<div class="mycal" style="width: 100%">
</div>

<div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<!-- THE MODAL WE WILL BE USING -->
<!-- <div class="modal fade" id="modal-timeslot">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Potvrdi brisanje</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="lead">trrzr</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
              <button type="submit" class="btn btn-danger">Izbriši</button>
            </div>
        </div>
      </div>
     </div> -->
{% endblock %}
