{% extends 'court_booking/base.html' %} 

{% block content %}
<h1>My Reservations</h1>
<p>{{request.user}}</p>

<table class="res-page-table">
    <thead>
        <tr>
            <th>Court</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
            <th>Cancel reservation</th>
        </tr>
    </thead>
    {% for res in reservations %}
    <tbody class="res-tbody-table">
        <tr>
            <td>{{res.court}}</td>
            <td>{{res.start_time|time:"H:i"}}</td>
            <td>{{res.end_time|time:"H:i"}}</td>
            <td>{{res.booking_date|date:"d.m.Y"}}</td>
            <td><a href="{% url 'court_booking:delete_res' res.id %}">Cancel</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}