{% extends 'court_booking/base.html' %} 
{% load static %}

{% block content %}

<div class="modal fade" id="modal-book">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<div class="dis-flex">
    <h2 class="head-login">Tennis Center</h2>
    
    <div class="dropdown">
    <p href="#" class="image-profile"><img class="image-size" src="{% static 'images/profile.png' %}" alt="" />
      <span>{{request.user}}</span>
      <i class="fa fa-angle-down"></i>
      <div class="dropdown-content">
        <a href="{% url 'court_booking:home' %}">Court booking</a>
        <a href="{% url 'account_logout' %}">Logout</a>
      </div>
    </p>
    </div>
    
</div>

<h2 style="text-align: center;">My reservations</h2>

<table class="res-page-table">
    <thead>
        <tr>
            <th>Court</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Date</th>
            <th>Cancel reservation</th>
        </tr>
    </thead>
    {% for res in reservations %}
    <tbody class="res-tbody-table">
        <tr>
            <td>{{res.court}}</td>
            <td>{{res.start_time|time:"H:i"}}</td>
            <td>{{res.end_time|time:"H:i"}}</td>
            <td>{{res.booking_date|date:"d.m.Y"}}</td>
            <td class="cli"> <button type="button"  data-url="{% url 'court_booking:item_delete_view' res.id %}" data-toggle="modal" class="js-delete-load but">Cancel</button></td>
        </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}
