{% load widget_tweaks %}

<form method="post" action="{% url 'court_booking:partial_res' %}" class="js-izdano-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Dodaj korisnika u bazu</h4>
     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     {% include 'court_booking/partial_form.html' %}
   </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
    <button type="submit" class="btn btn-primary">Dodaj korisnika</button>
  </div>
</form>
