
.easycal,.easycal table{

	width: 100%;
	height: 50%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0px;

}

.easycal{

	/* border-radius: 15px; */
	border: 1px solid #CCC;
	width: auto;
}

.easycal table.ec-head-table{ 

	height: 4rem;
	/* border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	color: #ffffff;
    background: #6c7ae0; */
	border-bottom: 1px solid #CCC;
}

.easycal table.ec-head-table tr{
	height: 40px;
}

.easycal table.ec-head-table tr td{

	border-left: 1px solid #CCC;
	text-align: center;
	width: 8rem;
}

.easycal table.ec-head-table tr td:FIRST-CHILD{
	border-left: 0;
	width: 50px;
}

.easycal table.ec-time-grid-table tr td{
	border-left: 1px solid #CCC;
	width: 8rem;
}

.easycal table.ec-time-grid-table tr td:FIRST-CHILD{
	border-left: 0;
	width: 50px;
}

.easycal table.ec-time-grid-table tr td .table-cell{
	height: 36px;
	max-height: 36px;
	border-top: 1px solid #CCC;
	text-align: center;
}

.easycal table.ec-time-grid-table tr td .table-cell:FIRST-CHILD{
	border-top: 0;
}

.easycal table.ec-time-grid-table tr td .table-cell.ec-slot{
	cursor: pointer;
}

.easycal table.ec-time-grid-table .table-cell .ec-time-range{
	font-size: 10px;
	padding-bottom: 3px;
}

.easycal table.ec-time-grid-table tr td .ec-slot .ec-minor-slot:FIRST-CHILD{
	border-top: 0 !important;
}

@media screen and (max-width: 480px) {

	html, body{

		height: 100%;
	}
	.easycal-widget{
		width: 100%;
		overflow-x: scroll;
		overflow-y: visible;
		padding: 0;
		
	}

	.easycal table{
		width: 100%;
		
	}


	table{
		height: 50%;
	}

	.ec-time{
		
	}

	.easycal table.ec-head-table tr td:FIRST-CHILD {
		position: sticky;
    	left: 0;
		z-index: 1;
		background-color: #ffffff;
		

	}

	.easycal table.ec-time-grid-table tr td:FIRST-CHILD {
		position: sticky;
    	left: 0;
		z-index: 1;
		background-color: #ffffff;
		
	}


	.ec-day-header{
		
	}

	.ec-slot-col{
		
	}

	.ec-slot{
	
	}


}

@media screen and (min-width: 1280px) {

	body {
		margin: 0 auto;
		width: 960px;
	}

}

#calendar{
	margin-bottom: 15px;
}

  .ui-datepicker-header {

	height: 50px;
	line-height: 50px;
	background: #e9e5e3;
	margin-bottom: 10px;
	
	
  }

  .ui-datepicker-calendar{
	width: 100%;
    text-align: center;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
	width: 20px;
	height: 20px;
	text-indent: 9999px;
	border: 2px solid #b0aead;
	border-radius: 100%;
	cursor: pointer;
	overflow: hidden;
	margin-top: 12px;
  }
  .ui-datepicker-prev {
	float: left;
	margin-left: 12px;
  }
  .ui-datepicker-prev:after {
	transform: rotate(45deg);
	margin: -43px 0px 0px 8px;
  }
  .ui-datepicker-next {
	float: right;
	margin-right: 12px;
  }
  .ui-datepicker-next:after {
	transform: rotate(-135deg);
	margin: -43px 0px 0px 6px;
  }
  .ui-datepicker-prev:after,
  .ui-datepicker-next:after {
	content: '';
	position: absolute;
	display: block;
	width: 4px;
	height: 4px;
	border-left: 2px solid #b0aead;
	border-bottom: 2px solid #b0aead;
  }
  .ui-datepicker-prev:hover,
  .ui-datepicker-next:hover,
  .ui-datepicker-prev:hover:after,
  .ui-datepicker-next:hover:after {
	border-color: #5ed1cc;
  }
  .ui-datepicker-title {
	text-align: center;
  }
 
  .ui-datepicker-calendar thead tr th span {
	display: block;
	color: #00a8b2;
	margin-bottom: 5px;
	text-align: center;
  }
  .ui-state-default {
	/* display: block;
	text-decoration: none;
	color: #000000;
	line-height: 40px; */
	display: inline-block;
	margin: 0 5px 0 0;
	width: 45px;
	line-height: 45px;
	text-decoration: none;
	color: #000000;
  }
  .ui-state-default:hover {
	background: rgba(0,0,0,0.02);
	border-radius: 50%;
  }
  .ui-state-highlight {
	color: #8dd391;
	font-weight: bolder;
  }
  .ui-datepicker-calendar .ui-state-active {
	border-radius: 50%;
    background-color: #284B72;
    color: white;
  }
  .ui-datepicker-unselectable .ui-state-default {
	color: #eee;
	border: 2px solid transparent;
  }
  