
.easycal,.easycal table{

	width: 100%;
	height: 50%;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 0px;

}

.easycal{

	border-radius: 15px;
	border: 1px solid #CCC;
}

.easycal table.ec-head-table{ 

	height: 4rem;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	color: #ffffff;
    background: #6c7ae0;
	border-bottom: 1px solid #CCC;
}

.easycal table.ec-head-table tr{
	height: 40px;
}

.easycal table.ec-head-table tr td{

	border-left: 1px solid #CCC;
	text-align: center;
}

.easycal table.ec-head-table tr td:FIRST-CHILD{
	border-left: 0;
	width: 50px;
}

.easycal table.ec-time-grid-table tr td{
	border-left: 1px solid #CCC;
}

.easycal table.ec-time-grid-table tr td:FIRST-CHILD{
	border-left: 0;
	width: 50px;
}

.easycal table.ec-time-grid-table tr td .table-cell{
	height: 36px;
	max-height: 36px;
	border-top: 1px solid #CCC;
	text-align: center;
}

.easycal table.ec-time-grid-table tr td .table-cell:FIRST-CHILD{
	border-top: 0;
}

.easycal table.ec-time-grid-table tr td .table-cell.ec-slot{
	cursor: pointer;
}

.easycal table.ec-time-grid-table .table-cell .ec-time-range{
	font-size: 10px;
	padding-bottom: 3px;
}

.easycal table.ec-time-grid-table tr td .ec-slot .ec-minor-slot:FIRST-CHILD{
	border-top: 0 !important;
}

@media screen and (max-width: 480px) {

	html, body{
		
		height: 100%;
	}
	.easycal-widget{
		width: 500px;
		overflow-x: scroll;
		overflow-y: visible;
		padding: 0;
	}

	.easycal table{
		width: 500px;
	
	}

	.easycal{
		width: 500px;
	}

	table{
		height: 50%;
	}

	.ec-time{
		
	}

	.easycal table.ec-head-table tr td:FIRST-CHILD {
		border-left: 0;
		width: 100px;
	}

	.easycal table.ec-time-grid-table tr td:FIRST-CHILD {
		border-left: 0;
		width: 100px;
	}

	 .easycal table.ec-time-grid-table tr td:FIRST-CHILD {
		
		position: absolute;
		border-right: 0;
		
	}

}

@media screen and (min-width: 1280px) {

	body {
		margin: 0 auto;
		width: 960px;
	}

}